.button {
  background-color: var(--fore);
  color: var(--text);
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}

.buttonSecondary {
  background-color: transparent;
  border: 1px solid var(--text);
  border-radius: 8px;
  padding: 0.8rem 1.2rem;
  color: var(--text);
}
